@charset "UTF-8";


*{
	box-sizing: border-box;
}






.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.footer {
  background-color: #D1C4E9;
  margin:  auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #7778b6;
  color: rgb(221, 216, 206); }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
  	min-height: 100vh;
 }

.navbar-dark {
  background-color: #292790; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

h1{
	margin-top:70px;
	text-align: center;
	margin-bottom: 50px;
	color:#0000a0;
}

h2{
	font-size:30px;
	color:#7778b6;
}


